{% extends 'home/index.html.twig' %}
{% block meilleurs_ventes %}{% endblock %}
{% block options %}{% endblock %}
{% block categories %}
<div class="banner">
		<div class="container">
			<div class="row">
			 {% for categorieCour in categories %}
					<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url('data:image/png;base64,{{ categorieCour.imgC}}'); background-size:80%;">
						<div class="banner_category">
							<a href="{{ path('page_produitsByCategory',{'categorie':categorieCour.id} ) }}">{{categorieCour.libelle}}</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	{% endblock %}
	{% block cat %}
		<div class="new_arrivals">
		<div class="container">
			<div class="row align-items-center">
				<div class="col text-center">
					<div class="new_arrivals_sorting">
						<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">tous nos cours</li>							
						{% for categorieCour in categories %}
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">{{categorieCour.libelle}}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
	
{% endblock %}
{% block cours  %}
<style>
.rower{
	position: relative;
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
	transition: box-shadow .3s;
	border-radius:10px;
	border: 1px solid #ccc;
	background: #fff;
	float: left;
	
}
.rower:hover{
box-shadow: 0 0 22px rgba(33,33,33,.2);
}
.ptides{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 600;
    height: 36px;
    min-height: 42px;
    font-size: 15px;
    color: #29303B;
    margin-bottom: 10px;
}
	.titre{
	font-family:ubuntu;
	color:#96bf31;
	font-size: 16px;
    line-height: 1.2;
	}
	.titre::first-letter {
    text-transform: uppercase;
}
	a:link 
	{ 
	text-decoration:none; 
	} 
	#image{
	transition: box-shadow .3s;
	border-radius:6px;
	border: 1px solid #ccc;
	background: #fff;
	float: left;
	}
	.subs{
		font-size: 16px;
    margin: 0;
    color: #70c989;
    font-weight: 600;
    float: right;
	}
	.course_block_bottom{
	    clear: both;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
	}
	.ic{
		float: left;
    color: #bbb;
    font-size: 16px
	}
	.amount{
		color:#96bf31;
		margin-left:90px
	}
</style>
		
					<div class="container" >
					<div class="row">
					{% for produit in produits %}
					<div class="col-lg-4 cole"style="padding:20px;">
					<div class="card rower" style="width:350px">
					<a href="{{path('cour', {'slug':produit.slug})}}">
						<img src="data:image/png;base64,{{ produit.image }}" width="350" height="200" alt="" id="image">
					</a>		
					<div class="card-body">
				<h4 class="card-title titre">{{produit.titreCours}}</h4>
					<div class="course_block_bottom">
					<span class="fa fa-users ic">39</span>
					<div class="course_price">
						<strong>
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">CFA</span>{{produit.prix}}</span><span class="subs"> pour {{produit.duree}} &#65279;</span>
						</strong>
					</div>
				 </div>
			</div>
			</div>
			</div>
			 {% endfor %}
			 </div>
			 </div>
{% endblock %}
	

